<head>
    <%= stylesheet_link_tag 'operationForm', media: 'all' %>
</head>

<h1>Show Operation</h1>

<p id="notice"><%= notice %></p>

<%= form_for @operation, html: { class: "mb-3" } do |form| %>
  <div class="mb-3">
    <%= form.label :clientOrigin, class: 'form-label' %>
    <%= form.text_field :clientOrigin, class: 'form-control', value: @operation.clientOrigin, readonly: true %>
  </div>

  <div class="mb-3">
    <%= form.label :clientDestination, class: 'form-label' %>
    <%= form.text_field :clientDestination, class: 'form-control', value: @operation.clientDestination, readonly: true %>
  </div>

  <div class="mb-3">
    <%= form.label :value, class: 'form-label' %>
    <%= form.text_field :value, class: 'form-control', value: number_to_currency(@operation.value, unit: 'R$', format: '%u %n'), readonly: true %>
  </div>

  <div class="mb-3">
  <%= form.label :rate, class: 'form-label' %>
  <%= form.text_field :rate, class: 'form-control', value: number_to_currency(@operation.rate, unit: 'R$', format: '%u %n'), readonly: true %>
</div>
<% end %>

<div class="buttons">
    <%= link_to operations_path, class: 'btn btn-secondary fatherButtonNew' do %>
    Back
    <% end %>
</div>