<head>
    <%= stylesheet_link_tag 'clientForm', media: 'all' %>
</head>

<%= form_with(model: client, local: true, html: { class: 'mb-3' }) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :cpf, class: 'form-label' %>
    <%= form.text_field :cpf, class: 'form-control', maxlength: 11, required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :agency, class: 'form-label' %>
    <%= form.collection_select(:agency, Agency.all, :id, :name, { prompt: 'Select an agency' }, class: 'form-select', required: true) %>
  </div>

  <div class="mb-3">
    <%= form.label :balance, class: 'form-label' %>
    <%= form.text_field :balance, class: 'form-control', id: "balance-input", required: true %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'button btn btn-primary', required: true %>
  </div> 
<% end %>

<script>
  document.getElementById('balance-input').addEventListener('input', function() {
    this.value = this.value.replace(/,/g, '.');
  });
</script>