<head>
    <%= stylesheet_link_tag 'general', media: 'all' %>
</head>

<h1>Show Client</h1>

<p id="notice"><%= notice %></p>

<%= form_for @client, html: { class: "mb-3" } do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', value: @client.name, readonly: true %>
  </div>

  <div class="mb-3">
    <%= form.label :cpf, class: 'form-label' %>
    <%= form.text_field :cpf, class: 'form-control', value: @client.cpf, readonly: true %>
  </div>

  <div class="mb-3">
    <%= form.label :agency, class: 'form-label' %>
    <%= form.text_field :agency, class: 'form-control', value: @client.agency, readonly: true %>
  </div>

  <div class="mb-3">
    <%= form.label :balance, class: 'form-label' %>
    <%= form.text_field :balance, class: 'form-control', value: @client.balance, readonly: true %>
  </div>
<% end %>

<div class="buttons">
    <%= link_to edit_client_path(@client), class: 'btn btn-primary fatherButton' do %>
      Edit
    <% end %>

    <%= link_to clients_path, class: 'btn btn-secondary fatherButton' do %>
    Back
    <% end %>
</div>